body {
  background-color: #ebebeb;
  max-width: 1002px;
  margin: auto; /*css reset*/
  padding: 0;
  height: 100vh;
}

.top_rectangle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 0px;
}

.topright > div > p {
  margin-top: 100px; /*center*/
  font-family: Fira Sans;
  font-size: 11px;
  margin-bottom: 0; /*center*/
}
.topright > div > h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 45px;
  margin-top: 0;
  color: white;
}

.toplefttext {
  margin: 0rem 7.3rem; /*0 = regulate top and bottom, 7.3rem left and right*/
}

.topleft {
  background-color: #c7ddea;
  font-size: 14px;
  font-family: Fira Sans;
}

.topleft h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 45px;
}

.topright {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.topright > div > * {
  /* target all children in div*/
  display: flex;
  text-align: center;
  justify-content: center;
}

.toprighttop {
  background-color: #f17949;
}

.toprightbottom {
  background-color: #ffb939;
}

.topleft span {
  color: white;
}

.toplefttext button {
  text-decoration: none;
  height: 2.438rem;
  width: 8.188rem;
  font-size: 10px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 12px;
  background: white;
  color: black;
  text-align: center;
  border-radius: 999rem;
  border: none;
  position: relative; /*places button*/
  top: 6.25rem; /*works with position:relative*/
}

.topleft img {
  width: 17.875rem;
  height: 17.438rem;
  display: flex; /*places picture right*/
  position: relative; /*places picture right*/
  right: -6.25rem;
}

footer {
  background-color: #777574;
  height: 21.25rem;
}

.Rectangle_bottom img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.Rectangle_bottom p {
  font-size: 17px;
  font-family: Fira Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

section.Rectangle_bottom {
  background-color: #a9a19e;
  height: 4.25rem;
}

.graysection {
  background-color: #a9a19e;
  height: 38.25rem;
  display: flex;
}

.orangesection {
  background-color: #fab131;
  height: 42.5rem;
  display: flex;
}

nav {
  height: 3rem;
  background: #eee;
  display: flex;
  margin-left: 9.375rem;
  margin-right: 9.375rem;
}
nav a {
  text-decoration: none;
  color: #000000;
  opacity: 40%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Fira Sans;
  font-size: 12px;
}
nav a:hover {
  color: #000000;
  text-decoration: underline;
}

.nav a:nth-child(1) {
  color: black;
  opacity: 100%;
}

.lowergrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.rectangle_3 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #c7ddea;
  width: 20.875rem;
  height: 21.25rem;
}
.rectangle_3_1 {
  grid-area: 1 / 2 / 2 / 3;
  width: 20.875rem;
  height: 21.25rem;
  background-color: white;
}
.rectangle_3_2 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #ebebeb;
  width: 20.875rem;
  height: 21.25rem;
}
.rectangle_3_3 {
  grid-area: 2 / 1 / 3 / 2;
  width: 20.875rem;
  height: 21.25rem;
  background-color: white;
}
.rectangle_3_4 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #f17949;
  width: 20.875rem;
  height: 21.25rem;
}
.rectangle_3_5 {
  grid-area: 2 / 3 / 3 / 4;
  width: 20.875rem;
  height: 21.25rem;
  background-color: white;
}

div.rectangle_3 h1 {
  font-size: 2.813rem;
  line-height: 2.813rem;
  height: 15.625rem;
  font-family: "Frank Ruhl Libre", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.lowergrid span {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.188rem;
  opacity: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 6.25rem;
  height: 6.25rem;
  font-weight: bold;
}

div.lowergrid p {
  font-size: 1.063rem;
  font-family: Fira Sans;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}

.graysection h1 {
  font-size: 45px;
  font-family: "Frank Ruhl Libre", serif;
  color: white;
  line-height: 45px;
  padding-left: 8.75rem;
  padding-top: 6.563rem;
}

.graysection button {
  text-decoration: none;
  height: 39px;
  width: 8.188rem;
  font-size: 10px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 12px;
  background: white;
  color: black;
  text-align: center;
  border-radius: 999rem;
  border: none;
  position: relative;
  left: 8.125rem;
  top: 10px;
}

.ruta1 {
  width: 16rem;
  height: 19.25rem;
  background-color: white;
  text-align: center;
  padding-top: 5.063rem;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7.5rem;
  border-radius: 5px;
}

.ruta2 {
  width: 16rem;
  height: 19.25rem;
  background-color: white;
  text-align: center;
  padding-top: 5.063rem;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7.5rem;
  border-radius: 5px;
}

.ruta3 {
  width: 16rem;
  height: 19.25rem;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7.5rem;
  border-radius: 5px;
}

.threeboxes {
  display: flex;
  margin: -9.688rem auto;
  gap: 2rem;
}
.rubrik {
  flex: 1;
}

.lorem {
  flex: 1;
  margin-right: 4.375rem;
  margin-top: 1.5rem;
}

.lorem p {
  padding: 6.563rem;
  font-family: Fira Sans;
  font-size: 14px;
}

.threeboxes .ruta1 h2,
.threeboxes .ruta2 h2,
.threeboxes .ruta3 h2 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 16px;
  line-height: 20px;
}

.threeboxes .ruta1 p,
.threeboxes .ruta2 p,
.threeboxes .ruta3 p {
  font-family: Fira Sans;
  font-size: 11px;
  line-height: 18px;
}

/*

TODO: 

Zoom in on pictures, ruta 1-3


*/

.ruta1 img {
  width: 13.375rem;
  height: 8.625rem;
  background-color: #c7ddea;
  object-fit: contain;
  margin-top: -10rem;
  margin-left: -14.6px;
  border: solid 10px;
  border-color: #c7ddea;
  border-radius: 4px;
}

.ruta2 img {
  width: 13.375rem;
  height: 8.625rem;
  background-color: #fab131;
  object-fit: contain;
  margin-top: -10rem;
  margin-left: -14.6px;
  border: solid 10px;
  border-color: #fab131;
  border-radius: 4px;
}

.ruta3 img {
  width: 13.375rem;
  height: 8.625rem;
  background-color: #f17949;
  object-fit: contain;
  margin-top: -10rem;
  margin-left: -14.6px;
  border: solid 10px;
  border-color: #f17949;
  border-radius: 4px;
}

.orangerubrik {
  position: absolute;
  top: 182%;
  left: 44%;
  font-size: 45px;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
}

.orangetext {
  font-size: 14px;
  line-height: 20px;
  font-family: Fira Sans;
  text-align: center;
  position: absolute;
  top: 37%;
  left: 66%;
  transform: translate(-108%, 489%);
  padding-left: 8.813rem;
}
